@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-purple-100: #a093ec;
  --color-purple-200: #7a67e4;
  --color-purple-300: #543cdd;
  --color-purple-400: #3b22c3;
  --color-purple-500: #341fad;
  --color-purple-600: #2e1b98;
  --color-purple-700: #21136c;
  --color-purple-800: #1d1160;
  --color-purple-900: #140b41;
}

.input-label {
  display: block;
  color: var(--color-neutral-900); 
  font-weight: 600;
  margin-bottom: .5rem;
}

.step-title {
  font-weight: 900;
  color: var(--color-neutral-900);
  font-size: var(--text-2xl);
  margin-bottom: 1rem;
}

.field-error {
  font-size: var(--text-sm);
  color: var(--color-red-500);
  font-weight: 600;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
